/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 30px;
  border-radius: 3px;
  background: white;
  transition: 0.5s;
  position: absolute;
}

ul {
    list-style: none;
    margin-top: 50px;
}

ul li a {
    color: white;
    line-height: 50px;
    
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.drawer-content {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}






.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(image/mainimage.jpg) no-repeat center center;
    background-size: cover;
    
}





/*コンセプトの上*/
.space1 {
    padding-top: 140px;
    
}
  
/*コンセプト*/

/*.img-fluid {*/
    /*margin-left: -40px;*/
/*}*/

.space2 {
    padding-top: 65px;
    
}

.image-yoko p {
    padding-top: 33px;
    line-height: 31px;
}

.image-yoko {
    margin-left: 60px;
    margin-right: 15px;
}

.space4 {
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 60px;
}


/*メニュー*/

.blendtitle {

}

.blendsubtitle {
    text-align: right;
    margin-right: 72px;
}

span {
    display: inline-block;
    width: 7em;
    margin-right: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.ac{
    text-align: center;
}

/*スウィート*/

.sweet {
    margin-top: 100px;
}


/*アクセス*/

.miveright {
    margin-right: -200px;
}